<div fxFill fxLayoutAlign="center center">
    <form fxLayout="column" [formGroup]="loginForm" fxLayoutGap="20Px">
        <div fxLayout="row" fxLayoutGap="10Px">
            <div>
                <span>Email</span>
            </div>
            <div>
                <input input type="email" matInput [formControl]="emailControl">
                <div style="color: red;" *ngIf="emailControl && emailControl.invalid">
                    Please enter valid email id.
                </div>
            </div>
        </div>
        <div fxLayout="row" fxLayoutGap="10Px">
            <div>
                <span>Password</span>
            </div>
            <div>
                <input input type="password" matInput [formControl]="passwordControl">
                <div style="color: red;" *ngIf="passwordControl && passwordControl.invalid">
                    Please enter valid password.
                </div>
            </div>
        </div>
        <div>
            <button (click)="doLogin()">LOGIN</button>
        </div>
        <div>
            <a href="#" [routerLink]="['/signup']">SIGN UP</a>
        </div>
        <div *ngIf="message" style="background-color: yellow;">
            {{message}}
        </div>
    </form>
</div>